.card {
  width: 200px;
  height: 200px;
  border-radius: 16px;
  box-shadow: 1px 1px 4px #bbb;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;

  &.removed {
    background: none;
    box-shadow: none;
    opacity: 0.5;
  }
}
